<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SkypeTalkBot.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SkypeTalkBot.Properties.Settings>
      <setting name="welcomeMessage" serializeAs="String">
        <value>Fanpage: https://www.facebook.com/ZCodeApps/</value>
      </setting>
      <setting name="sendWelcomeMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="acceptFriendRequests" serializeAs="String">
        <value>False</value>
      </setting>
    </SkypeTalkBot.Properties.Settings>
  </userSettings>
</configuration>